html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s,
samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, figure, figurecaption { 
	margin: 0; 
	padding: 0; 
	border: 0; 
	outline: 0; 
	font-style:normal;
}

a:visited,a:link {
    color:inherit;
    text-decoration: inherit;
}

body {
    font-family: "Open Sans";
    text-align: center;
    background-color:#F8F8F8;
}

h1 {
    color:#345877;
    font-weight: 200;
    font-size: 43px;
    padding:30px 0;
    width: 100%;
    background-color: #fff;
}

h2 {
    width:100%;
    background-color:#63A6E1;
    padding:30px 0;
    font-size: 30px;
    color:#fff;
}

p {
    color:#000000;
    font-weight: 100;
    font-size:19px;
    margin-top:10px;
}

section {
    width:80%;
    padding:0 10%;
}

#nav {
    padding-top:20px;
    padding-bottom: 20px;
    background-color: #4F86B5;
    color:#ffffff;
}

#nav ul li {
    display:inline-block;
    margin-right: 10px;
}

#nav ul li a:hover {
    cursor:pointer;
    text-decoration: underline;
}

#tools {
    padding-top:20px;
    padding-bottom: 20px;
    background-color: #ffffff;
    height:28px;
}

#tools .color_wrapper {
    height:25px;
    width:auto;
    display:inline-block;
}

#tools .color_wrapper div {
    width:28px;
    height:28px;
    display:inline-block;
    border: 1px solid #EBEBEB;
    margin-right:3px;
    box-sizing: border-box;
}

#tools .color_wrapper div:hover {
    border: 2px solid #63A6E1;
    cursor:pointer;
}

#tools div.selected {
    border: 2px solid #63A6E1;
}

#tools span {
    display: inline-block;
    color:#000000;
    font-weight: 100;
    font-size:19px;
    height: 28px;
    margin-right:10px;
    vertical-align:top;
}

#tools input {
    font-family: "Open Sans";
	font-weight: 100;
	font-size:15px;
}

#tools input[type=button]:hover {
	cursor:pointer;
}

#canvas {
    margin:20px 0;

}