/**
 * home.html HEADER
 */

body {
	background-color: #CCCCCC;
	font-family: Geneva,Arial,Helvetica,sans-serif;
	margin: 0px auto;
	max-width: 900px;
	border: solid;
	border-color: #FFFFFF;
}

header table tr td {
  text-align: center;
  color: #DF0101;
  font-family: monospace;
}

header table {
  width: 100%;
  border: 0px;
}

header td {
  width: 50%;
}

hr {
  background-color: #DF0101;
  height: 7px;
  border: 0px;
}

hr.middle {
  height: 35px;
}

hr.bottom {
  height: 35px;
	background-color:#2E2E2E;
}

header a {
    text-decoration: none;
}


header nav ul {
    position: relative;
    display: inline-block;
}

header nav ul ul{
    display: none;
}

header nav ul li {
    display:block;
    float:left;
    padding:3px 15px;
}


header nav ul li a {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    transition: all .25s ease;
    color: black;
}

header nav ul li a:hover {
    color: #E56038;
}

header nav ul li:hover > ul {
    display: block;
}

header nav ul li:hover > ul { margin: 0px; padding: 0px;}
header nav ul li:hover > ul li { float: none; display: block;}
header nav ul li:hover > ul li a { color: #333333; min-width: 500px;}
header nav ul li:hover > ul li a:hover { color: #E56038}

header nav ul li {position: relative;}
header nav ul li ul {position: absolute; top: 15px;  left: 15px;}

/**
 * home.html CONTENT
 */

section {
  background-color: #FFFFFF;
  margin: 10px;
	text-align: center;
}

section div {
		display: inline-block;
		margin: 20px;
		/*border: 1px dotted gray;*/
}

section div div {
	vertical-align: top;
}

section div img.img1 {
	width: 20%;
}

section div img.img2 {
	width: 50%;
}

/**
 * home.html FOOTER
 */

footer {
	text-align: center;
}

footer figure {
    display: inline-block;
    /*border: 1px dotted gray;*/
    margin: 20px; /* adjust as needed */
}
footer figure img {
    vertical-align: top;
}
footer figure figcaption {
    /*border: 1px dotted blue;*/
		float: right;
		font-size: 12;
		text-align: left;
		margin: 5px;
}

/**
 * portfolio.html CONTENT
 */

section.portfolio {
	margin: 30px;
	background-color: #CCCCCC;
	display: inline-block;

	margin: 20px; /* adjust as needed */
}

section.portfolio figure {
	display: inline-block;
	margin: 20px; /* adjust as needed */
	/*border: 1px dotted gray;*/
	font-size: 12px;
	text-align: left;
}

section.portfolio #applications {
	margin: 30px;
	background-color: #CCCCCC;
	text-align: left;
	vertical-align: top;
}

section.portfolio section figure img {
	width: 50%;
}

section.portfolio #retrieval {
	margin: 30px;
	background-color: #CCCCCC;
	text-align: left;
}

section.portfolio #games {
	margin: 30px;
	background-color: #CCCCCC;
	text-align: left;
}

section div img.img1 {
	width: 20%;
}

section div img.img2 {
	width: 50%;
}

/**
 * contact.html CONTENT
 */

 section.contact {
 	margin: 30px;
 	background-color: #CCCCCC;
 	display: inline-block;
 	margin: 20px; /* adjust as needed */
	text-align: left;
 }

 section.contact hr {
	 width: 100%;
 }

 section.contact img {
	 width: 300%;
 }
